.selector-for-some-widget {
  box-sizing: content-box;
}
body {
  display: flex;
  margin: 0;
  color: #bebebe;
  font-family: "Roboto", sans-serif;
  background-color: #171717;
  font-size: 1.2vw;
}
header {
  width: 100%;
  padding: (0, 30px, 0, 30px);
}
nav {
  padding-top: 70px;
}
#svgFile {
  background: url("img/Group\ 4.svg") no-repeat right;
  width: 100%;
}
.menu {
  float: right;
  padding-right: 5%;
}
.menu ul {
  float: right;
}
.menu ul li {
  display: flex;
  float: right;
  margin: 15px;
  display: block;
}
.menu ul li a {
  text-decoration: none;
  color: #bebebe;
  float: right;
}
.imgAvatar {
  border-radius: 50%;
  margin-left: 32%;
  margin-top: 14%;

  background-size: cover;
}
nav h1 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  display: inline-block;
}
.container1 {
  display: flex;
  margin-left: 15%;
  flex-wrap: wrap;
}
.container1 div {
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  float: right;
}
.container1 h4 {
  color: #00bab3;
}
.infoBox1 {
  text-align: right;
}
.infoBox2 {
}
.infoBox3 {
}
#disine h2 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 5%;
}
#disine p {
  width: 49%;
  margin-left: 5%;
}

#uxui h2 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 5%;
}
#uxui p {
  width: 50%;
  margin-left: 5%;
}

#works h2 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 0;
  margin-top: 5%;
}
#works p {
  width: 48%;
  margin-left: 5%;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container2 div {
  width: 27%;
  margin: 2%;
}
.container2 img {
  width: 100%;

  background-size: cover;
}
.container2 h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container3 img {
  width: 100%;
  background-size: cover;
}
.container3 div {
  width: 27%;
  margin: 2%;
  flex-direction: column;
}
.container3 h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
.container4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container4 img {
  width: 100%;

  background-size: cover;
}

.container4 div {
  width: 27%;
  margin: 2%;
  flex-direction: column;
}
.container4 h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
#projects h2 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
}
.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container5 div {
  width: 180px;
  margin: 1%;
  flex-direction: column;
}
.container5 div img {
  width: 100%;
  background-size: cover;
}
.container6 {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.container6 .column1 {
  margin: 5%;
  width: 49%;
}
.container6 .column2 {
  width: 26.5%;
  margin: 5%;
}
.container6 .column1 h3 {
  border-bottom: 3px solid #00bab3;
  display: inline-block;
}
.container6 .column2 h3 {
  border-bottom: 3px solid #00bab3;

  display: inline-block;
}

.container6 span {
  color: #00bab3;
}
.footer {
  text-align: center;
}
.footer h2 {
  color: #00bab3;
  margin-top: 9%;
}
.footer div {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.footer p {
  margin: 1%;
}
.menu ul li :hover {
  color: #00bab3;
}
