.selector-for-some-widget {
  box-sizing: content-box;
}
body {
  display: flex;
  margin: 0;
  color: #bebebe;
  font-family: "Roboto", sans-serif;
  background-color: #171717;
  font-size: 20px;
}
.row img {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 4%;
  background-size: cover;
}
.row p {
  line-height: 1;
  font-size: 16px;
}

.container-fluid {
  padding-right: 5%;
  padding-left: 5%;
}
header {
  width: 100%;
  padding: (0, 30px, 0, 30px);
}
nav {
  padding-top: 70px;
}
#svgFile {
  background: url("img/Group\ 4.svg") no-repeat right;
}
.menu {
  float: right;
  padding-right: 5%;
}
.menu ul {
  float: right;
}
.menu ul li {
  display: flex;
  float: right;
  margin: 15px;
  display: block;
}
.menu ul li a {
  text-decoration: none;
  color: #bebebe;
  float: right;
}
.imgAvatar {
  border-radius: 50%;
  margin-left: 28%;
  margin-top: 14%;
  width: 14%;
  min-width: 160px;
  background-size: cover;
}
nav h1 {
  border-bottom: 2px solid #00bab3;
  display: inline-block;
  margin-left: 5%;
  line-height: unset;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

.container1 {
  display: flex;
  margin-left: 15%;
  flex-wrap: wrap;
}

.container1 h4 {
  color: #00bab3;
  margin-bottom: 35px;
}

.infoBox1 {
  text-align: right;
  margin: 4%;
}
.infoBox {
  margin: 4%;
}

#disine h2 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1.5%;
  margin-top: 5%;
}
#disine .lead {
  width: 49%;
  min-width: 300px;
  margin-left: 5%;
  line-height: 1;
  font-size: 16px;
}

#uxui h2 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1.5%;
  margin-top: 5%;
}
#uxui .lead {
  width: 50%;
  min-width: 300px;
  margin-left: 5%;
  font-size: 16px;
  line-height: 1;
}

#works h2 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1.5%;
  margin-top: 5%;
}
#works .lead {
  width: 48%;
  line-height: 1;
  font-size: 16px;
  margin-left: 5%;
}

#projects h2 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 1.5%;
}
.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container5 div {
  width: 13%;
  min-width: 100px;
  margin: 1%;
  flex-direction: column;
}
.container5 div img {
  width: 100%;
  background-size: cover;
}
.container6 {
  display: flex;
  flex-wrap: wrap;
  float: left;
}
.container6 .column1 {
  margin: 5%;
  width: 40%;
  min-width: 300px;
}
.container6 .column2 {
  width: 400px;
  margin: 5%;
}
.container6 .column1 h3 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
}
.container6 .column2 h3 {
  border-bottom: 2px solid #00bab3;
  line-height: unset;
  display: inline-block;
}
.container6,
.column2,
.p {
  width: 100%;
}

.container6 span {
  color: #00bab3;
}
.footer {
  text-align: center;
}
.footer h2 {
  color: #00bab3;
  margin-top: 9%;
}
.footer div {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.footer p {
  margin: 1%;
  font-size: 1.5vw;
}
.menu ul li :hover {
  color: #00bab3;
}

.small,
small {
  font-size: 80%;
}

.h1,
h1 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.h2,
h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.h3,
h3 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.h4,
h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.h5,
h5 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 2560px) {
  /* specific CSS */
  body {
    font-size: 30px;
  }
  .row p {
    font-size: 30px;
  }
  #disine .lead {
    font-size: 30px;
  }
  #uxui .lead {
    font-size: 30px;
  }
}
@media screen and (max-width: 1500px) {
  body {
    font-size: 23px;
  }
  .row p {
    font-size: 23px;
  }
  #disine .lead {
    font-size: 23px;
  }
  #uxui .lead {
    font-size: 23px;
  }
  .h1,
  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1440px) {
  /* specific CSS */
  body {
    font-size: 16px;
  }
  .row p {
    font-size: 16px;
  }
  #disine .lead {
    font-size: 16px;
  }
  #uxui .lead {
    font-size: 16px;
  }
  .h1,
  h1 {
    font-size: 22px;
  }
  .h3,
  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  /* specific CSS */
  body {
    font-size: 15px;
  }
  .row p {
    font-size: 15px;
  }
  #disine .lead {
    font-size: 15px;
  }
  #uxui .lead {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  /* specific CSS */
  body {
    font-size: 15px;
  }
  .row p {
    font-size: 15px;
  }
  #disine .lead {
    font-size: 15px;
  }
  #uxui .lead {
    font-size: 15px;
  }
  .h1,
  h1 {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }
  .h2,
  h2 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .h3,
  h3 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .h4,
  h4 {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
  }
  .h5,
  h5 {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (max-width: 850px) {
  /* specific CSS */
  body {
    font-size: 13px;
  }
  .row p {
    font-size: 13px;
  }
  #disine .lead {
    font-size: 13px;
  }
  #uxui .lead {
    font-size: 13px;
  }
  .h1,
  h1 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
  .h2,
  h2 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  .h3,
  h3 {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }
  .h4,
  h4 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .h5,
  h5 {
    font-size: 8px;
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (max-width: 768px) {
  /* specific CSS */
  body {
    font-size: 13px;
  }
  .row p {
    font-size: 13px;
  }
  #disine .lead {
    font-size: 13px;
  }
  #uxui .lead {
    font-size: 13px;
  }
  .h1,
  h1 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .h2,
  h2 {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }
  .h3,
  h3 {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }
  .h4,
  h4 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }
  .h5,
  h5 {
    font-size: 8px;
    font-family: "Roboto", sans-serif;
  }
}
