body {
  display: flex;
  margin: 0;
  color: #bebebe;
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #171717;
  background-position: no-repeat;
  width: 100%;
  padding: (0, 30px, 0, 30px);
}
nav {
  padding-top: 18px;
}
.menu {
  float: right;
  padding-top: 13px;
  padding-right: 13px;
}
.menu ul {
  margin: -13px;
  float: right;
}
.menu ul li {
  display: flex;
  float: right;
  margin: 15px;
  display: block;
}
.menu ul li a {
  text-decoration: none;
  color: #bebebe;
  float: right;
}
.imgAvatar {
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 87px;
}
nav h1 {
  border-bottom: 3px solid #00bab3;
  width: 247px;
  margin-left: 36px;
  display: inline-block;
}
.container1 {
  display: flex;
  margin-left: 11%;
  flex-wrap: wrap;
}
.container1 div {
  border-radius: 15px;
  padding: 20px;
  margin: 30px;
  flex-direction: column;
  align-items: center;
  float: right;
}
.container1 h4 {
  color: #00bab3;
}
.infoBox1 {
  text-align: right;
}
.infoBox2 {
}
.infoBox3 {
}
#disine h1 {
  border-bottom: 3px solid #00bab3;
  width: 370px;
  margin-left: 36px;
}
#disine p {
  width: 70%;
  margin-left: 36px;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container2 div {
  width: 320px;
  margin: 4%;
  flex-direction: column;
}

#projects h1 {
  border-bottom: 3px solid #00bab3;
  width: 465px;
  margin-left: 36px;
}
.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container3 div {
  width: 184px;
  margin: 1%;
  flex-direction: column;
}
.container3 div img {
  width: 100%;
}
